body 
{
    background-size: cover;
    background-position: center;
}
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}
canvas 
{
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px ;
}

a
{
    color: black;
    border-radius: 100px;
    margin-top: 60px;
    font-size: 70px ;
    width : 150px;
    letter-spacing: 2px; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.copy_right_footer 
{
    position: fixed;
    color: white;
    bottom: 0;
    width: 100%;
    background-color:grey;
    line-height: 3;
    text-align: center;
 }
 #back_btn
 {
    right: 0;
 }